/* mobile-s */
@media screen  and (min-width: 600px) {
    .sidebar {
        width:200px;
    }
    .content {
        width:calc(100% - 200px);
    }

/* Utilities */
.color-white {
    color:white;
}
/* TYPOGRAFY */
.sidebar {
    font-size:14px;
}


/* Sidebar */
.sidebar {
    padding:10px 20px;
}
.logo-small {
    display:none;
}
.logo-large {
    display:inline-block;
    width:70%;
}
.sidebar-menu span {
    display:inline;
} 
.playlist > * {
    display:block;
}  
.add {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
}
.plus {
    display:inline-block;
    width:30px;
    height:30px;
    background-color: lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 25px;
}
.profilo a {
    justify-content:flex-start;
}
.profilo span {
    display:inline;
}

.profilo hr {
    display:block;
}
/* FOOTER */

.control-buttons .icon-button {
margin:0 8px;
font-size: 15px;
}
.main-play-button {
    font-size:23px;
}
.desktop-visibile {
    padding-left: 20px;
}
.icon-button {
    font-size:14px;
}
.progress-bar-container {
    width:75%;
}
.extra-controls .icon-button {
    margin:0 8px;
}
.volume-bar {
    width:75px;
}
}


/* tablet-md:  */
@media screen and (min-width: 700px) {
    .col {
        width: calc(100% / 4 - (10px * 3) / 4);
    }
}

/* desktop-lg:  */
@media screen and (min-width: 1100px) {
    .col {
        width:calc(100% / 6 - (10px * 5) / 6);
    }
}