/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.wrapper {
    width:100%;
    height:calc(100vh - 100px);
    display:flex;
}
body {
    font-family: sans-serif;
}
/* sidebar */
.sidebar {
    background-color:lightgreen;
    width:120px;
    flex-shrink: 0;
    overflow-y:auto;
}
/* content */
.content {
    width:calc(100% - 120px);
}
header {
    background-color: rgb(217, 187, 217);
    height:80px;
    overflow-x: auto;
}

main {
    height: calc(100vh - 180px);
    overflow-y:auto;
    background-color: lightyellow;
}
/* footer */
.footer {
    background-color: rgb(228, 171, 171);
}


