/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    font-family:"Montserrat", sans-serif;

}

a {
    text-decoration: none;
    color:inherit;
    
}
ul {
    list-style:none;
}

/* Layout */
.wrapper {
    width:100%;
    height:calc(100vh - 90px);
}

.container {
    display:flex;
    height:100%;
}

/* TYPOGRAFY */
h3 {
   font-size: 1rem; 
}
p {
    font-size: 0.75rem;
    color: lightgrey;
    opacity:0.6;
}


/* SIDEBAR */
.sidebar {
    background-color:black;
    width:60px; 
    padding:10px; 
    display:flex;
    flex-direction: column;
    color:rgb(124, 121, 121);
}

/* logo */
.logo-large {
    display:none;
}
.sidebar img {
    opacity:0.6;
}

/* sidebar-menu */
.sidebar-menu img {
    width:30px;
}
.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu img,
.sidebar-menu span {
    vertical-align:middle;
}
.sidebar-menu span {
    display:none;
}

.sidebar-menu li.active {
    color:white;
    font-weight:500;
}



/* playlist */
.playlist {
    min-height:200px;
    flex-grow:1;
}

.profilo {
    height:80px;
}

.playlist li {
    margin-bottom: 10px;;
}

.playlist > * {
    display:none;
}

.profilo a {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
}
.scarica img {
    width:20px;
}
.utente img {
    width:30px;
    height:30px;
    background-color: lightgray;
    border-radius:50%;
}

.profilo span {
    display:none;
}





/* utilities */

.mb-20 {
    margin-bottom: 20px;
}

.mb-12 {
    margin-bottom: 12px;
}
.mb-10 {
    margin-bottom: 10px;
}
.color-grey {
    color:lightgrey;
    opacity: 0.6;
}
/* buttons */
.btn {
    display:inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    border: 2px solid white;
    
}


/* CONTENT */
.content {
    width:calc(100% - 60px);
    overflow-y: auto;
    background-color: rgb(31, 31, 31);
    color:white;
}

/* HEADER */
header {
    background-color: black;
    height:80px;
    position:sticky;
    top:0;
    left:0;  
}
.upgrade {
    display: flex;
    justify-content: flex-end;
    padding: 20px 5px;
}


/* Main */
main {
    padding: 10px 20px;
}

/* Main nav */
.main-nav ul {
    display:Flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
    list-style:none;
    text-transform:uppercase;
    margin-top:20px;
}

/* Section gray */
.flex {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.col {
    width: calc(100% / 2 - 10px / 2);
    text-align:center;
    
}
.rotondo {
    border-radius: 40%;
}


/* FOOTER */

.music {
      height:90px;
      background-color: skyblue;
      display:flex;
      justify-content: space-between;
}
.album,
.audio {
    width:250px;
    background-color: palevioletred;
}
.player {
    width:35%;
    background-color: rgb(232, 232, 149);
}
.album img {
    height:80%;
    aspect-ratio: 1;
}

    
