/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    list-style: none;
}

/* Layout */
.wrapper {
    width:100%;
    height:calc(100vh - 90px);
}

.container {
    display:flex;
    height:100%;
}


/* sidebar */
.sidebar {
    background-color:black;
    width:60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 10px 0;
}

.menu-sopra img,
.menu-sotto img {
    width:35px;
}
.lista {
    display:flex;
    flex-direction: column;
    gap:5px;
}


/* utilities */

/* buttons */
.btn {
    display:inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    border: 2px solid white;
    
}


/* content */
.content {
    width:calc(100% - 60px);
    overflow-y: auto;
    background-color: lightyellow;
}

/* Header */
header {
    background-color: rgb(27, 26, 26);
    height:80px;
    position:sticky;
    top:0;
    left:0;  
}
.upgrade {
    display: flex;
    justify-content: flex-end;
    padding: 20px 5px;
}


/* Main */
main {
    padding: 20px;
}

/* Main nav */
.main-nav ul {
    display:Flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
    list-style:none;
    text-transform:uppercase;
    margin-top:20px;
}

/* Section gray */
.flex {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.col {
    width: calc(100% / 2 - 10px / 2);

    /* debug */
    background-color: lightsalmon;
    min-height:200px;
}


/* footer */
footer {
    height:90px;
    background-color: grey;
}






